<div class="container">
    <div class="row justify-content-center">
        <div class="col col-md-6 text-center">
            <h1>Eat Da Burger</h1>
            <p>Use the form below to add a new burger to the menu.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="wish-form">
                <form action="/" method="POST" id="add-burger">
                    <label for="burger">Add Burger</label>
                    <input name="burger"></textarea>
                    <input id="submit-btn" type="submit" value="Add Burger">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col text-center" id="uneaten">
            <h2>Available Burgers</h2>
            <ul>
                {{#each burgers}}
                    {{#unless eaten}}
                    <li class="uneaten-burger burger">
                        <span class="burger-inner-wrapper">{{burgerName}}</span>
                        <button data-id="{{id}}" class="btn-warning devour">Devour It</button>
                    </li> 
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col text-center" id="eaten">
            <h2>Devoured Burgers</h2>
            <ul>
                {{#each burgers}}
                    {{#if eaten}}
                    <li class="eaten-burger burger">
                        <span class="burger-inner-wrapper">{{burgerName}}</span> 
                        <button data-id="{{id}}" class="delete btn-danger">Remove</button>
                    </li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- <script type="text/javascript" src="public/assets/js/main.js"></script> --}}
<script>
    $(document).ready(function(){
        console.log('testing??');
        $('#add-burger').on('submit', function(event){
            event.preventDefault();
            console.log($(this));
            let burger = $("#add-burger [name='burger']").val();
            let eaten = false;
            $.ajax({
                url: '/',
                data: {
                    burger,
                    eaten: false
                },
                type: 'POST'
            }).done(function(response){
                console.log(response);
                location.reload();
            });
        });
        $(document).on('click','.devour',function(){
            console.log('devour it');
            let burgerId = $(this).get(0).dataset.id;
            console.log(burgerId);
            $.ajax({
                url: '/',
                type: 'PUT',
                data: {id: burgerId, update: {eaten: true}}
            }).done(function(response){
                console.log(response);
                location.reload();
            });
        });
        $(document).on('click','.delete',function(){
            console.log('delete it');
            let burgerId = $(this).get(0).dataset.id;
            console.log(burgerId);
            $.ajax({
                url: '/' + burgerId,
                type: 'DELETE'
            }).done(function(response){
                console.log(response);
                location.reload();
            });

        })
    });
</script>