
.devour:hover {
    cursor: pointer;
}
.burger {
    list-style: none;
    padding: 20px;
}
.wish-form {
    display: flex;
    justify-content: center;
}
#burgers ul {
    padding: 0;
}
#add-burger button {
    margin-left: 10px;
}
@media (max-width: 960px){
    .burger-inner-wrapper {
        width: 100%;
        display: block;
    }
    #add-burger button {
        margin-left: 0;
        margin-top: 3px;
    }
}